<div class="container-fluid" >
     <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-1 col-md-offset-2">
       <ul class="nav nav-tabs">
         <li class="nav-item" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link active" routerLink="/login/submitdetails">User Details</a></li>
         <li class="nav-item" role="presentation" routerLinkActive="active"><a class="nav-link" routerLink="/login/listdetails">List Details</a></li>
         <li class="nav-item" role="presentation" routerLinkActive="active"><a  class="nav-link" routerLink="/login/parkingdraw" target="_self">Parking Draw</a></li>
         <li class="nav-item" role="presentation" routerLinkActive="active"><a  class="nav-link" routerLink="/" target="_self">Logout</a></li>
       </ul>
     </div>
   </div>
   <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-1 col-md-offset-2">
       <router-outlet></router-outlet>
     </div>
   </div>  
  
 
 </div>