
@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";          
@import "../../../node_modules/font-awesome/css/font-awesome.css";

.container{
    height:620px;
    padding:10px 20px;
    margin-top:0px;
    margin-bottom:10px;
    overflow: hidden;      
    position:relative;    
    background-color: white;   
    width:90%;    
    
}

.inner-container-pre{
  min-height:100vh;
    min-width:100%;  
   overflow: hidden;
    padding-top:0px;   
    padding:0;   
    position: relative;  
    z-index:10;
    
}

.card{
    border: none !important;
    box-shadow: none!important;
}

.card-pre{
    width:100%;    
    height: 100%;   
    overflow:visible;    
    transition: width 1s, height 1s, transform 1s;  
}

.img-pre{
    position:absolute;
    transform: translate(500%,-60%);
    margin-bottom:5%;
    /*bottom: 30%;*
    margin-bottom: 2%;
    /*left: 45%;*/
    max-width: 10%;
    max-height: 20%;  
    opacity: 0;
    filter: alpha(opacity=1); /* For IE8 and earlier */    
   
   
}

.inner-container-post{
   min-height:100vh;
    min-width:100%;  
   overflow: hidden;
    padding-top:0px;   
    padding:0;   
    position: relative;  
    z-index:7;
    
}

.card-post-temp{
   position:relative;
   z-index:20;   

}

.card-post-final{
    position: relative;
    z-index:19;
    display: none;
    /*visibility: hidden;*/
}

.card-post-img{
    position:relative;
    border: 1px solid white;
     z-index:21;
      max-width:30%;
}

.table-post-img{
    visibility: hidden;
   
}
.img-post{     
    z-index:22;   
    position:absolute;
     margin-bottom: 2%;
    bottom: 10px;  
    left:0;
    min-width: 50%;
    min-height: 50%;  
    opacity: 1;
    filter: alpha(opacity=1); /* For IE8 and earlier */    
   
}

@keyframes SHW {
    from {
        transform:scale(0.5);               
    }
    to {
        transform: scale(1);
        min-width:100%;  
        
              
    }
}


.element-animation  {
    animation: SHW 3s;
    animation-fill-mode: both
}

.inner-container-big-animate2{
    min-width:100%;
    min-height:100%;    
    transform: scale(1,1);
}







/*.inner-container1{
    min-height:100%;
    min-width:100%;  
   overflow: hidden;
    padding-top:0px;   
    padding:0;   
   display: none;
    z-index:9;
    position: relative;  
    left:0;   
    bottom:0;
    border:1px solid purple;
   
}

.inner-container3{
    min-height:100%;
    min-width:100%;  
   overflow: hidden;
    padding-top:0px;   
    padding:0;   
   display: none;
    z-index:8;
    position: relative;  
    left:0;   
    bottom:0;
    border:1px solid purple;
   
}

.inner-container2{
    min-height:100%;
    min-width:100%;  
   overflow: hidden;
    padding-top:0px;   
    padding:0;   
  display: none;
    z-index:7;
    position: relative;  
    left:0;
    bottom:0;
    border:1px solid blue;
   
}

.inner-container4{
    min-height:100%;
    min-width:100%;  
   overflow: hidden;
   padding:0;   
    display: none;
    border: 1px solid red;  
    z-index:6;
    position: relative;  
    left:0;
    bottom:0;
    border:1px solid yellow;
   
}*/



.inner-container-animate1{
    width:70%;
}

.inner-container-animate2{
    min-width:50%;
    min-height:50%;    
    transform: rotate(360deg) scale(0.5,0.5) translate(-40%,-40%);
}

.inner-container-animate3{
    min-width:50%;
    min-height:50%;    
    transform: scale(0.5,0.5) translate(120%,-40%);
}

.inner-container-animate4{
    min-width:40%;
    min-height:50%;    
    transform: scale(0.5,0.5) translate(100%,-50%);
   
}

@keyframes text-bold-animation {
    0% {color:black;left:0;right:0;font-weight: bold;}
    5% {left:10%;top:0px;transform:scale(1.5,1.5);font-weight: bold; }
    10% {left:20%;top:0px;transform:scale(1.5,1.5);font-weight: bold;}
    15%{left:30%;top:0px;transform:scale(2,2);font-weight: bold;}
    20%{left:40%;top:0px;transform:scale(2,2);font-weight: bold;}
    25%{left:60%;top:0px;transform:scale(2.5,2.5);font-weight: bold;}
    30%{left:80%;top:0px;transform:scale(2.5,2.5);font-weight: bold;}
   35% {left:90%;top:0px;transform:scale(3,3);font-weight: bold;}
   40% {left:100%;top:0px;transform:scale(3,3);font-weight: bold;}
   45% {left:110%;top:0px;transform:scale(3.5,3.5);font-weight: bold;}
   50% {left:120%;top:0px;transform:scale(3.5,3.5);font-weight: bold;}
   55% {left:120%;top:0px;transform:scale(4,4);font-weight: bold;}
   60% {left:120%;top:0px;transform:scale(4,4);font-weight: bold;}
   65% {left:120%;top:0px;transform:scale(4,4);font-weight: bold;}
   70% {left:125%;top:50px;transform:scale(4,4);font-weight: bold;}
   75% {left:125%;top:150px;transform:scale(4,4) ;font-weight: lighter;}
   80% {left:125%;top:150px;transform:scale(3.5,3.5) ;font-weight: lighter;}
   85% {left:125%;top:200px;transform:scale(3,3) ;font-weight: lighter;}
   90% {left:125%;top:250px;transform:scale(2.5,2.5) ;font-weight: lighter;}
   95% {left:125%;top:300px;transform:scale(2,2) ;font-weight: lighter;}
   99% {left:125%;top:350px;transform:scale(1.5,1.5) ;font-weight: lighter;}
   100% {left:125%;top:500px;transform:scale(1,1) ;visibility: hidden;}
}

@keyframes text-bold-animation1{
    from{
        left:0;
    }
    to{
        left:120%;
        top:500px;
        font-weight: bold;
        transform: scale(4,4) rotate(90deg);
        opacity:0;        
    }
}
.text-bold1{
    position:relative;  
    animation-name: text-bold-animation;
    animation-duration: 3s;   
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-direction: alternate;    
}

.table-post-temp td{
	color:white;
}



