<div class="container col-md-12" >
  <form class="form-inline">
    <div class="md-form form-group">

      <input mdbInputDirective type="text" size="30" value="70" class="form-control" id="form9" name="available">
      <label for="form9">Total Parkings Slots Available</label>
    </div>
    <div class="md-form form-group">
      <i class="fa prefix"></i>
      <input mdbInputDirective type="text" value="25" class="form-control" id="form10" name="reserved">
      <label for="form10">Reserved Parking Slots</label>
    </div>

    <div class="md-form form-group">
      <button mdbBtn color="primary" size="md" class="waves-light" mdbWavesEffect [disabled]="startDraw" id="startBtn" (click)="getLuckyDrawResult()">Start</button>
    </div>

  </form>

  <!--main container which contains all employee data and is displayed initially-->
  <div class="inner-container">

    <div class="card card-cascade narrower mt-4 card1">

      <div class="px-4">
        <!--Table-->
        <table class="table table-hover table-responsive-md mb-0 table1" style="font-size: 20px;">

          <!--Table head-->
          <thead>
            <tr>
              <th scope="row" class="th-lg">Employee Id</th>
              <th class="th-lg">Name</th>
              <th class="th-lg">Email</th>
              <th class="th-lg">Vehicle Registration Number</th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody class="text-small">
            <tr *ngFor="let data of employeeList let i = index">

              <td px-3 *ngIf="(i+1) >= firstVisibleIndex && (i+1) <= lastVisibleIndex" scope="row">{{data.employeeId}}</td>
              <td *ngIf="(i+1) >= firstVisibleIndex && (i+1) <= lastVisibleIndex">{{data.employeeName}}</td>
              <td *ngIf="(i+1) >= firstVisibleIndex && (i+1) <= lastVisibleIndex">{{data.email}}</td>
              <td *ngIf="(i+1) >= firstVisibleIndex && (i+1) <= lastVisibleIndex">{{data.vehicleRegistrationNumber}}</td>

            </tr>
          </tbody>
          <!--Table body-->
        </table>

      </div>

      <hr class="my-0">

      <!--Bottom Table UI-->
      <div class="d-flex justify-content-center lower-div" style="padding:0; ">

        <!--Pagination -->
        <nav class="my-4 pt-1">
          <ul class="pagination pagination-circle pg-blue mb-0">

            <!--First-->
            <li class="page-item clearfix d-none d-md-block" (click)="firstPage()" [ngClass]="{disabled: activePage == 1 || startDraw}">
              <a class="page-link">First</a>
            </li>

            <!--Arrow left-->
            <li class="page-item" (click)="previousPage($event)" [ngClass]="{disabled: activePage == 1 || startDraw}">
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>

            <!--Numbers-->
            <li #pages *ngFor="let page of paginators | slice:firstVisiblePaginator:lastVisiblePaginator; let i = index" class="page-item"
              [ngClass]="{active: i + firstVisiblePaginator + 1 == activePage, disabled: startDraw}">
              <a class="page-link waves-light" (click)="changePage($event)" mdbWavesEffect>{{page}}</a>
            </li>



            <!--Arrow right-->
            <li class="page-item" (click)="nextPage($event)" [ngClass]="{disabled: activePage == numberOfPaginators || startDraw}">
              <a class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>

            <!--First-->
            <li class="page-item clearfix d-none d-md-block" (click)="lastPage()" [ngClass]="{disabled: activePage == numberOfPaginators || startDraw}">
              <a class="page-link">Last</a>
            </li>

          </ul>
        </nav>
        <!--/Pagination -->

      </div>
      <!--Bottom Table UI-->

    </div>

    <img [src]="imgPath" class="img1">

  </div>


  <!-- second container which is shown on the right top side in which data from the image will be stored-->
  <!--< second container Begins-->

  <div class="inner-container1">
  
      <div class="card card-cascade narrower mt-4 card2" id = "temp">

        <div class="px-4">
          <!--Table-->
          <table class="table table-hover table-responsive-md mb-0 table2" style="font-size: 20px;">
  
            <!--Table head-->
            <thead>
              <tr>
                <th scope="row" class="th-lg">Employee Id</th>
                <th class="th-lg">Name</th>
                 <th class="th-lg">Email</th>                
                <th class="th-lg">Vehicle Registration Number</th>
              </tr>
            </thead>
            <!--Table head-->
  
            <!--Table body-->
            <tbody class="text-small">
              <!--a blank table with 5 rows will be displayed-->
              <tr *ngFor="let data of resultTempTable let i = index">
  
                <td px-3  scope="row">{{data.employeeId}}</td>
                <td >{{data.employeeName}}</td>
                <td >{{data.email}}</td>               
                <td >{{data.vehicleRegistrationNumber}}</td>
  
              </tr>
            </tbody>
            <!--Table body-->
          </table>
  
        </div>
  
        <hr class="my-0">
  
        <!--Bottom Table UI-->
        <div class="d-flex justify-content-center lower-div" style="padding:0; ">
  
  
  
        </div>
        <!--Bottom Table UI-->
  
      </div>
    


    <img [src]="imgPath1" class="img2">

  </div>


  <!-- second container Ends-->



  <!--final Result container begins-->

  <!-- This conatiner shows final result of the lucky draw-->

  <div class="inner-container1">
  
      <div class="card card-cascade narrower mt-4 card2" id = "final">

        <div class="px-4">
          <!--Table-->
          <table class="table table-hover table-responsive-md mb-0 table2" style="font-size: 20px;">
  
            <!--Table head-->
            <thead>
              <tr>
                <th scope="row" class="th-lg">Employee Id</th>
                <th class="th-lg">Name</th>
                <th class="th-lg">Email</th>
                <th class="th-lg">Vehicle Registration Number</th>
              </tr>
            </thead>
            <!--Table head-->
  
            <!--Table body-->
            <tbody class="text-small">
              <!-- final complete list of lucky draw data-->
              <tr *ngFor="let data of resultTable; let i = index">
                  <td px-3 *ngIf="(i+1) >= firstVisibleIndex && (i+1) <= lastVisibleIndex" scope="row">{{data.employeeId}}</td>
                  <td *ngIf="(i+1) >= firstVisibleIndex && (i+1) <= lastVisibleIndex">{{data.employeeName}}</td>
                  <td *ngIf="(i+1) >= firstVisibleIndex && (i+1) <= lastVisibleIndex">{{data.email}}</td>
                  <td *ngIf="(i+1) >= firstVisibleIndex && (i+1) <= lastVisibleIndex">{{data.vehicleRegistrationNumber}}</td>
    
               
  
              </tr>
            </tbody>
            <!--Table body-->
          </table>
  
        </div>
  
        <hr class="my-0">               
  
        <!--Bottom Table UI-->
        <div class="d-flex justify-content-center lower-div" style="padding:0; ">

          <!--Pagination -->
          <nav class="my-4 pt-1">
              <ul class="pagination pagination-circle pg-blue mb-0">
    
                <!--First-->
                <li class="page-item clearfix d-none d-md-block" (click)="firstPage()" [ngClass]="{disabled: activePage == 1}">
                  <a class="page-link">First</a>
                </li>
    
                <!--Arrow left-->
                <li class="page-item" (click)="previousPage($event)" [ngClass]="{disabled: activePage == 1 }">
                  <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
    
                <!--Numbers-->
                <li #pages *ngFor="let page of paginators1 | slice:firstVisiblePaginator:lastVisiblePaginator; let i = index" class="page-item"
                  [ngClass]="{active: i + firstVisiblePaginator + 1 == activePage}">
                  <a class="page-link waves-light" (click)="changePage($event)" mdbWavesEffect>{{page}}</a>
                </li>
    
    
    
                <!--Arrow right-->
                <li class="page-item" (click)="nextPage($event)" [ngClass]="{disabled: activePage == numberOfPaginators1 }">
                  <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
    
                <!--First-->
                <li class="page-item clearfix d-none d-md-block" (click)="lastPage()" [ngClass]="{disabled: activePage == numberOfPaginators1 }">
                  <a class="page-link">Last</a>
                </li>
    
              </ul>
            </nav>
            <!--/Pagination -->
  
  
  
        </div>
        <!--Bottom Table UI-->
  
      </div>
    


    <img [src]="imgPath1" class="img2">

  </div>

  <!-- final Result container ends-->

  <!--Temp result container Begins-->
  <!-- This container is behind the image from where 5 rows of result will be animated and moved 
    to second container -->

  <div class="inner-container2">

    <div class="card card-cascade narrower mt-4 card3">

      <div class="px-4">
        <!--Table-->
        <table class="table table-hover table-responsive-md mb-0 table3" style="font-size: 20px;">

          <!--Table head-->
          <thead>
              <tr>
                <th scope="row" class="th-lg">Employee Id</th>
                <th class="th-lg">Name</th>
                <th class="th-lg">Email</th>
                <th class="th-lg">Vehicle Registration Number</th>
              </tr>
            </thead>
            <!--Table head-->
  
            <!--Table body-->
            <tbody class="text-small">									 	 x
              <!-- final complete list of lucky draw data-->
              <tr *ngFor="let data of resultTempTable let i = index">
                  <td px-3 *ngIf="(i+1) >= firstVisibleIndex && (i+1) <= lastVisibleIndex" scope="row">{{data.employeeId}}</td>
                  <td *ngIf="(i+1) >= firstVisibleIndex && (i+1) <= lastVisibleIndex">{{data.employeeName}}</td>
                  <td *ngIf="(i+1) >= firstVisibleIndex && (i+1) <= lastVisibleIndex">{{data.email}}</td>
                  <td *ngIf="(i+1) >= firstVisibleIndex && (i+1) <= lastVisibleIndex">{{data.vehicleRegistrationNumber}}</td>
    
               
  
              </tr>
            </tbody>
          <!--Table body-->
        </table>

      </div>

      <hr class="my-0">

      <!--Bottom Table UI-->
      <div class="d-flex justify-content-center lower-div" style="padding:0; ">



      </div>
      <!--Bottom Table UI-->

    </div>

    <img [src]="imgPath1" class="img2">

  </div>



  <!-- Temp result container Ends-->

</div>