
@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";          
@import "../../../node_modules/font-awesome/css/font-awesome.css";

.card1{
    width:100%;    
    height: 100%;   
    overflow:visible;  
    transition: width 1s, height 1s, transform 1s;  
}


.inner-container-big-animate1{
    border:5px solid green;
    background-color: red;
   -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg);
}

@keyframes SHW {
    from {
        transform:scale(0.5);               
    }
    to {
        transform: scale(1);
        width:100%;          
        margin-top:35px;
        
    }
}

.element-animation  {
    animation: SHW 3s;
    animation-fill-mode: both
}

.inner-container-big-animate2{
    min-width:100%;
    min-height:100%;    
    transform: scale(1,1);
}


.inner-container{
    min-height:100vh;
    min-width:100%;  
   overflow: hidden;
    padding-top:0px;   
    padding:0;   
    position: absolute;  
    left:0;       
    z-index:10;
}


.inner-container1{
    min-height:100vh;
    min-width:100%;  
   overflow: hidden;
    padding-top:0px;   
    padding:0;   
    display: none;  
    z-index:1;
    position: absolute;  
    right:0;   
   
}

.inner-container2{
    min-height:100vh;
    min-width:100%;  
   overflow: hidden;
    padding-top:0px;   
    padding:0;   
   visibility:hidden;
    z-index:2;
    position: absolute;  
    left:0;
   
}

.container{
    padding:10px 20px;
    margin-top:0px;
    margin-bottom:10px;
    overflow: hidden;      
    position:relative;
    min-height:620px;
    background-color: white;
    
}

.inner-container-animate1{
    width:70%;
}

.inner-container-animate2{
    min-width:50%;
    min-height:50%;    
    transform: rotate(360deg) scale(0.5,0.5) translate(-40%,-40%);
}

.inner-container-animate3{
    min-width:50%;
    min-height:50%;    
    transform: scale(0.5,0.5) translate(120%,-40%);
}

.inner-container-animate4{
    min-width:50%;
    min-height:50%;    
    transform: scale(0.5,0.5) translate(60%,120%);
   
}




@keyframes text-bold-animation {
    0% {color:black;left:0;right:0;font-weight: bold;}
    5% {left:10%;top:0px;transform:scale(1.5,1.5);font-weight: bold; }
    10% {left:20%;top:0px;transform:scale(1.5,1.5);font-weight: bold;}
    15%{left:30%;top:0px;transform:scale(2,2);font-weight: bold;}
    20%{left:40%;top:0px;transform:scale(2,2);font-weight: bold;}
    25%{left:60%;top:0px;transform:scale(2.5,2.5);font-weight: bold;}
    30%{left:80%;top:0px;transform:scale(2.5,2.5);font-weight: bold;}
   35% {left:90%;top:0px;transform:scale(3,3);font-weight: bold;}
   40% {left:100%;top:0px;transform:scale(3,3);font-weight: bold;}
   45% {left:110%;top:0px;transform:scale(3.5,3.5);font-weight: bold;}
   50% {left:120%;top:0px;transform:scale(3.5,3.5);font-weight: bold;}
   55% {left:120%;top:0px;transform:scale(4,4);font-weight: bold;}
   60% {left:120%;top:0px;transform:scale(4,4);font-weight: bold;}
   65% {left:120%;top:0px;transform:scale(4,4);font-weight: bold;}
   70% {left:120%;top:50px;transform:scale(4,4);font-weight: bold;}
   75% {left:120%;top:150px;transform:scale(4,4) rotate(90deg);font-weight: bold;}
   80% {left:120%;top:150px;transform:scale(4,4) rotate(90deg);font-weight: bold;}
   85% {left:120%;top:200px;transform:scale(4,4) rotate(90deg);font-weight: bold;}
   90% {left:120%;top:250px;transform:scale(4,4) rotate(90deg);font-weight: bold;}
   95% {left:120%;top:300px;transform:scale(4,4) rotate(90deg);font-weight: bold;}
   99% {left:120%;top:350px;transform:scale(4,4) rotate(90deg);font-weight: bold;}
   100% {left:120%;top:500px;transform:scale(4,4) rotate(90deg);visibility: hidden;}
}

@keyframes text-bold-animation1{
    from{
        left:0;
    }
    to{
        left:120%;
        top:500px;
        font-weight: bold;
        transform: scale(4,4) rotate(90deg);
        opacity:0;        
    }
}
.text-bold1{
    position:relative;  
    animation-name: text-bold-animation;
    animation-duration: 3s;   
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-direction: alternate;    
}


.img1{
    position:absolute;
    top:30%;
    left:50%;  
    width:250px;
    height:250px;    
    opacity: 0;
    filter: alpha(opacity=20); /* For IE8 and earlier */
    display:block;    
    z-index:4; 
}

.img2{
    position:absolute;
    top:20%;
    left:35%;  
    width:450px;
    height:400px;    
    opacity: 0;
    filter: alpha(opacity=20); /* For IE8 and earlier */
    display:block; 
    z-index:3;    
}

.table2 td{
	color:white;
}

#temp{
    z-index:-1;    
}

#final{
    z-index:1;
    
}





