<div class="container col-md-12 p-0 nominations-container">
  <table class="table table-bordred table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" (click)="sort('empname')">Employee Name
            <span class="glyphicon sort-icon" *ngIf="key =='empname'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th scope="col" (click)="sort('empid')">Employee ID
            <span class="glyphicon sort-icon" *ngIf="key =='empid'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th scope="col" (click)="sort('vehicleno')">Vehicle Number
            <span class="glyphicon sort-icon" *ngIf="key =='vehicleno'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th scope="col" (click)="sort('category')">Request Category
            <span class="glyphicon sort-icon" *ngIf="key =='category'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th scope="col" (click)="sort('pempname')">Pool Employee Name
            <span class="glyphicon sort-icon" *ngIf="key =='pempname'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th scope="col" (click)="sort('pvehicleno')">Pool Vehicle Number
            <span class="glyphicon sort-icon" *ngIf="key =='pvehicleno'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeList | orderBy: key : reverse | paginate: { itemsPerPage: 6, currentPage: p };  let i = index;">
        <th scope="row">{{i+ 1}}</th>
        <td>{{employee.employeeName}}</td>
        <td>{{employee.employeeId}}</td>
        <td>{{employee.vehicleRegistrationNumber}}</td>
        <td *ngIf="employee.requestCategory === 'medical_emergency'">Medical Emergency</td>
        <td *ngIf="employee.requestCategory === 'female_night_shift'">Female Night Shift</td>
        <td *ngIf="employee.requestCategory === 'pool_parking'">Pool Parking</td>
        <td *ngIf="employee.requestCategory === 'general_parking'">General Parking</td>
        <td *ngIf="employee.poolEmployee !== null">{{employee.poolEmployee}}</td>
        <td *ngIf="employee.poolEmployee === null">--</td>
        <td *ngIf="employee.poolEmployeeVehicle !== null">{{employee.poolEmployeeVehicle}}</td>
        <td *ngIf="employee.poolEmployeeVehicle === null">--</td>
      </tr>
    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </table>
</div>