<div class="container col-md-12 p-0 nominations-container">
  <table class="table table-bordred table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Employee ID</th>
        <th scope="col">Vehicle Number</th>
        <th scope="col">Request Category</th>
        <th scope="col">Pool Employee Name</th>
        <th scope="col">Pool Vehicle Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeList; let i = index;">
        <th scope="row">{{i+ 1}}</th>
        <td>{{employee.employeeName}}</td>
        <td>{{employee.employeeId}}</td>
        <td>{{employee.vehicleRegistrationNumber}}</td>
        <td>{{employee.requestCategory}}</td>
        <td *ngIf="employee.poolEmployee !== null">{{employee.poolEmployee}}</td>
        <td *ngIf="employee.poolEmployee === null">--</td>
        <td *ngIf="employee.poolEmployeeVehicle !== null">{{employee.poolEmployeeVehicle}}</td>
        <td *ngIf="employee.poolEmployeeVehicle === null">--</td>
      </tr>
    </tbody>
  </table>
</div>