<div class="container col-md-12 p-0 nominations-container">
  <div class="row col-md-12 mt-1 mb-2">
    <div class="col-md-10 pt-1">
      <h4 class="text-center history-title mt-2 ml-4">Quarterly Parking Result</h4>
    </div>
    <div class="col-md-2 pt-1">
      <select class="pl-2 text-center"  required [(ngModel)]='optionSelected' (change)="submitDetails()">
        <option *ngFor='let option of options' [value]="option">
          {{option}}
        </option>
      </select>
    </div>

  </div>


  <table class="table table-bordred table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Car Parking Id</th>
        <th scope="col">Vehicle Number</th>
        <th scope="col">Request Category</th>
        <th scope="col">Pool Employee Name</th>
        <th scope="col">Pool Vehicle Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let parkingHistory of parkingHistoryList; let i = index;">
        <th scope="row">{{i+ 1}}</th>
        <td>{{parkingHistory.employeeName}}</td>
        <td>{{parkingHistory.carParkingId}}</td>
        <td>{{parkingHistory.vehicleRegistrationNumber}}</td>
        <td *ngIf="parkingHistory.requestCategory === 'medical_emergency'">Medical Emergency</td>
        <td *ngIf="parkingHistory.requestCategory === 'female_night_shift'">Female Night Shift</td>
        <td *ngIf="parkingHistory.requestCategory === 'pool_parking'">Pool Parking</td>
        <td *ngIf="parkingHistory.requestCategory === 'general_parking'">General Parking</td>
        <td *ngIf="parkingHistory.poolEmployeeName !== null">{{parkingHistory.poolEmployeeName}}</td>
        <td *ngIf="parkingHistory.poolEmployeeName === null">--</td>
        <td *ngIf="parkingHistory.poolEmployeeVehicle !== null">{{parkingHistory.poolEmployeeVehicle}}</td>
        <td *ngIf="parkingHistory.poolEmployeeVehicle === null">--</td>
      </tr>
    </tbody>
  </table>
</div>