<div class="container col-md-12 p-0 nominations-container">
    <div class="col-md-12 mt-2 center">
    <select  required [(ngModel)]='optionSelected'>
      <option value="">Show All</option>
      <option  *ngFor='let option of options' [value]="option">
          {{option}}
        </option>
    </select>
  </div>
    <div class="col-md-12 mt-2 center">
        <button type="button" class="btn btn-success btn-lg" (click)="submitDetails()">Submit</button>
    </div>

  <table class="table table-bordred table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Car Parking ID</th>
        <th scope="col">Request category</th>
        <th scope="col">Vehicle Registration Number</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let parkingHistory of parkingHistoryList; let i = index;">
          <th scope="row">{{i+ 1}}</th>
          <td>{{parkingHistory.employeeName}}</td>
          <td>{{parkingHistory.carParkingId}}</td>
          <td>{{parkingHistory.requestCategory}}</td>
          <td>{{parkingHistory.vehicleRegistrationNumber}}</td>
        </tr>
      </tbody>
    </table>
  </div>