/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.fixed-box{
    position:fixed !important;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.login-left-banner{
    background-image: url('./assets/left_banner.jpg');
    -webkit-background-size: cover;
}


@font-face {
	font-family: 'Source Sans Pro';
	src: url(https://cdn.ihs.com/www2/events/ihsm/fonts/SourceSansPro-Bold.ttf);
	font-weight: 500;
	font-style: normal
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url(https://cdn.ihs.com/www2/events/ihsm/fonts/SourceSansPro-Semibold.ttf);
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url(https://cdn.ihs.com/www2/events/ihsm/fonts/SourceSansPro-Regular.ttf);
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url(https://cdn.ihs.com/www2/events/ihsm/fonts/SourceSansPro-Light.ttf);
	font-weight: 200;
	font-style: normal
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url(https://cdn.ihs.com/www2/events/ihsm/fonts/SourceSansPro-ExtraLight.ttf);
	font-weight: 100;
	font-style: normal
}

@font-face {
	font-family: ihsmarkit;
	src: url(https://cdn.ihs.com/www2/a/p/media/fonts/ihsmarkit.eot?3mqse&vsn=3);
	src: url(https://cdn.ihs.com/www2/a/p/media/fonts/ihsmarkit.eot?#iefix3mqse&vsn=3) format("embedded-opentype"), url(https://cdn.ihs.com/www2/a/p/media/fonts/ihsmarkit.woff?3mqse&vsn=3) format("woff"), url(https://cdn.ihs.com/www2/a/p/media/fonts/ihsmarkit.ttf?3mqse&vsn=3) format("truetype"), url(https://cdn.ihs.com/www2/a/p/media/fonts/ihsmarkit.svg?3mqse#ihs&vsn=3) format("svg");
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: fontawesome;
	src: url(https://cdn.ihs.com/www2/a/p/media/fonts/fontawesome-webfont.eot?3mqse&vsn=3);
	src: url(https://cdn.ihs.com/www2/a/p/media/fonts/fontawesome-webfont.eot?#iefix3mqse&vsn=3) format("embedded-opentype"), url(https://cdn.ihs.com/www2/a/p/media/fonts/fontawesome-webfont.woff?3mqse&vsn=3) format("woff"), url(https://cdn.ihs.com/www2/a/p/media/fonts/fontawesome-webfont.ttf?3mqse&vsn=3) format("truetype"), url(https://cdn.ihs.com/www2/a/p/media/fonts/fontawesome-webfont.svg?3mqse#ihs&vsn=3) format("svg");
	font-weight: 300;
	font-style: normal
}
body {
    overflow-x: hidden;
    /* background: url('./assets/background.jpg'); */
}
header.topnav .logo {
    transform: translate3d(0,0,1px);
    width: 160px;
    top: 12px;
    position: absolute;
    height: 45px;
    overflow: hidden;
    z-index: 100;
}

.content {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 5%;
    font-size: 16px;
    line-height: 22px;
    border-bottom: 4px solid lightgrey;
    background-color: #fff;
}

.content img {
    max-width: 100%;
    height: auto;
    display: block;
}

#mega-menu {
    text-align: right;
}

#mega-menu .top-level-nav {
    display: inline-block;
    vertical-align: top;
}

.active-nav{
    color: #00AB4A !important;
    border-bottom: 3px solid #00AB4A !important;
}

#mega-menu .top-level-nav a {
    color: #4B4B4B;
    font-size: 15px;
    line-height: 66px;
    display: inline-block;
    padding: 0 20px;
    border-bottom: 2px solid #FFF;
    text-decoration: none;
}

#mega-menu .top-level-nav:hover a {
    color: #00AB4A;
    border-bottom: 3px solid #00AB4A;
    text-decoration: none;
}

.bgbanner{
    top: 0;
    height: 320px;
    width: 100%;
    background-image: url('./assets/ihsbanner.jpg');
    background-repeat: round;
}

.center{
    text-align: center;
}


.page-footer{
    background: #33383E;
    color: #B3B3B3;
    padding: 20px 0;
    font-size: 12px;
    width: 100%;
    position: relative;
    bottom: 0;
}

.page-footer .footer-logo {
    width: 100%;
    margin-bottom: 10px;
}

.page-footer img {
    max-width: 100%;
    height: auto;
    display: block;
}

.footer-content {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 5%;
    font-size: 16px;
    line-height: 22px;
}

.logo{
    display: inline-block;
}
.page-footer .footer-logo .logo img {
    width: 160px;
    max-height: 50px;
}

.page-footer .footer-lower {
    border-top: 1pt solid #B3B3B3;
    padding-top: 5px;
}

.page-footer .footer-copyright {
    width: 50%;
    float: right;
    text-align: right;
    font-size: 14px;
    line-height: 14px;
    background-color: transparent!important;
}

.footer-social{
    float: right;
    padding-top: 1%;
}

.page-footer .footer-social a {
    width: 30px;
    display: inline-block;
    background: #FFF;
    border-radius: 50%;
    margin-left: 20px;
    height: 30px;
    overflow: hidden;
}

.page-footer .footer-social a span {
    position: relative;
    display: block;
}

.page-footer .footer-social a span::before {
    color: #4B4B4B;
    font-size: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

.facebook::before {
	content: '5';
	font-family: ihsmarkit
}
.twitter::before {
	content: '6';
	font-family: ihsmarkit
}

.google::before {
	content: '8';
	font-family: ihsmarkit
}

.linkedin::before {
	content: '7';
	font-family: ihsmarkit
}

.youtube::before {
	content: '9';
	font-family: ihsmarkit
}


.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 2% 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    top: 30%;
    position: absolute;
    background-color: white;
    margin-left: 25%;
}
.login-form-1 h3{
    text-align: center;
    color: #333;
    margin-top: 0%;
    margin-bottom: 5%;
}
.login-form-1 form{
    padding: 5%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.data-container{    
    position: relative;
    min-height: 80vh;
}

.background{
    background: url('./assets/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.data-container-holder{
    padding: 2% 5%;
    margin-top: 5%;
    width: 100%;
}

.table-data-header{
    background: rgb(238,238,238);
    background: -moz-linear-gradient(top, #000 0%, rgba(250,250,250,1) 50%, rgba(238,238,238,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(250,250,250,1)), color-stop(100%,rgba(238,238,238,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(250,250,250,1) 50%,rgba(238,238,238,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(250,250,250,1) 50%,rgba(238,238,238,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(250,250,250,1) 50%,rgba(238,238,238,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(250,250,250,1) 50%,rgba(238,238,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
    border-color: #d0d0d0 #CCCCCC #CDCDCD;
    box-shadow: 0 1px 0 #fcfcfd inset;
    color: #4C4C4C;
    text-shadow: 0 1px 1px #fff;
}

.table-data-header h2{
    line-height: 160%;
}

.bg-white{
    background-color: white !important;
}

.snapshot-height{
    min-height: 250px;
}

.profile-img-container{
    position: absolute;
    top: -25%;
}

.profile-img-container img{
    width: 80%;
}

.pd-2{
    padding: 2% 2%;
    line-height: 30px;
}

.dot-border{
    border-bottom: 1px dotted gray;
}



.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 27px;
     width: 27px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     margin-left: 10px !important;
     outline: none;
     border : 1px solid lightgreen;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 7px;
     top: 4px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover, .form-checkbox:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked, .form-checkbox:checked
{
     background-color: #f1f1f1;
     border : 3px solid lightgreen;
     -webkit-appearance: unset !important;
}

.form-checkbox
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 5px;
     height: 20px;
     width: 20px;
     border: 0;
     margin-right: 7px;
     margin-left: 10px !important;
     outline: none;
     border : 1px solid lightgreen;
}
.form-checkbox:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 4px;
     content: '\02143';
     transform: rotate(40deg);
}

.tag {
    background-color: #28a745;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    padding: .4em .7em;
    margin: .2em;
    width: 100%;
}

.ml-5{
    margin-left: 5%;
}
.ml-2{
    margin-left: 2%;
}
.mt-5{
    margin-top: 5%;
}
input[type="radio"]:focus {
    outline: none;
}

input[type="text"]:focus {
    outline: none;
}

.pool_partner{
    width: 50%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 80%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .nominations-container{
      background-color: white;
      min-height: 400px;
      font-size: 14px;
      min-height: 60vh;
  }

  .icons{
      height : 20px;
  }

  select {
    margin: 2% 2%;
    width: 150px;
    font-size: 16px;
    border: 1px solid #28a745;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('./assets/carLogo.ico') 90% / 20% no-repeat transparent;
  }

  .error-highlight{
      border : 1px solid red;
  }
  
  table{
      border : 1px solid gainsboro;
  }
  
  .table th{
    font-weight: 400;
  }

  .table-sm td, th{
      padding-top: .6rem !important;
      padding-bottom: .6rem !important;
  }

  .animation {
    stroke: red;
    stroke-width: 3;
    stroke-dasharray: 50, 750;
    stroke-dashoffset: 0;
    fill: none;
    animation: border 5s linear infinite;
  }
  @keyframes border {
    to {
      stroke-dashoffset: -800;
    }
  }

  input.disabled{
      background-color: white !important;
      color: darkgray !important;
      font-weight: 400 !important;
  }

  .history-title{
    font-weight: 500;
    padding-bottom: .5rem;
    margin: 0;
  }

  .data-unaviable{
      padding: 5% 5%;
      text-align: center;
  }

  .parkingslot{
      border : 1px solid black; 
      font-weight: 450;
      text-align: center;
  }

  .parkingslot,.reserved,.lift span{
    display: block;
    font-size: 10px; 
    font-weight: 500;
    text-align: center;
   }

  .greyed{
    background: repeating-linear-gradient( 90deg, #999, #999 10px, #eee 20px, #eee 20px );
    }


  .lift{
    background :white;
    padding: 1.5%;
    font-weight: 400;
    border : 2px solid black;
  }

  .upper{
      border-bottom: none !important;
      border : 2px solid green;
  }

  .lower{
    border-top: none !important;
    border : 2px solid green;
}

.pillar{
    background : lightgray;
    padding: 2%;
}

.medical_emergency{
    background: #ec4a4a;
    padding: 2%;
    /* border : 2px solid red; */
}

.female_night_shift{
    background:lightpink;
    padding: 2%;
    /* border : 2px solid pink; */
}

.pool_parking{
    background: lightsteelblue;
    padding: 2%;
    /* border : 2px solid blue; */
}

.general_parking{
    background: #bed0ea;
    padding: 2%;
    /* border : 2px solid blue; */
}

.nonmarkit_parking{
    background: #BED0BA;
    padding: 2%;
    /* border : 2px solid blue; */
}

.unallocated{
    background: #BED0BA;
    padding: 2%;
    /* border : 2px solid blue; */
}

.reserved{
    background: rgb(226, 191, 94);
    padding: 2%;
    border : 1px solid black; 
    /* border : 2px solid blue; */
}

.pathway{
    height: 6vh;
    background: gray;
}

.parking-stage{
    background: gray;
}

.dashed-pathway{
    color: white;
    width: 100%;
    border-top: 5px dashed white;
    position: relative;
    top: 5px;
}

.title-icons{
    width: 40%;
}